body {
    display:grid;
    grid-template-columns: repeat(12,100px);
    /*grid-template-rows: 64px 1fr 1fr;*/
    grid-auto-rows: 1fr;
}
h1{
    display: flex;
    justify-content:center ;
}
.card{
    border-radius: 4px;
    width: 90%;
    height: auto;
    background: #eeeeee;
    padding:8px;
    margin: 16px;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 2px solid #ccc;
}
form{
    display:block;
    padding: 16px;
    grid-column: 1/3;
    grid-row: 1/3;
    background: #ff7316;
    border-radius: 8px 8px 0 0;
}
form div{
    margin: 8px 0;
}
.input, select{
    width:100%;
}
.container{
    grid-column: 3/12;
    grid-row: 1/3;
    background: #ae00ff;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction:column;
}
.button{
    width:100%;
    height: 40px;
    margin: 4px;
    outline: none;
    border: none;
    border-radius: 32px;
    font-size: 1.2em;
    font-weight: 500;
}
input[type=submit]{
    background: #020500;
    color:#fff;
}
input[type=reset], input[type=button]{
    background: #000000;
    color:#fff;
}
#finish{
    display: none;
    margin: 16px 0;
    background: #ff0505;
    color: rgb(255, 255, 255);
    width: 90%;
}
@media (max-width: 480px){
    .body{
        display:grid;
        grid-template-columns: 100%;
        grid-auto-rows: 1fr;
    }
    form{
        display:block;
        padding:16px;
        grid-column: 1;
        grid-row: 1;
        background: #ff5816;
        border: 2px solid #176afe;
    }
    .container{
        grid-column: 1;
        grid-row: 2;
        background: #cf0eff;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: flex-start;
    }
} 